.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .list, .map {
    flex: 1;

  }
  
  .list {
    /* Optional: You can add additional styles for the List */
  }
  
  .map {
      flex-grow: 3;
  }
  